<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Data Form</title>
</head>

<body>
  <form action="http://localhost:5000/report" method="POST">
    <p>Name <input type="text" name="Name" /></p>
    <p>Age <input type="text" name="Age" /></p>
    <p>Nationality <input type="text" name="Nationality" /></p>
    <p>Joining Date <input type="text" name="Joining date" /></p>
    <p><input type="submit" value="submit" id=""></p>
  </form>
</body>

</html>